exclude: ^(VERSION)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/rubocop/rubocop
    rev: v1.58.0
    hooks:
      - id: rubocop
  - repo: https://github.com/nicklockwood/SwiftFormat
    rev: 0.52.11
    hooks:
      - id: swiftformat
        files: examples
